<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Skis</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>Available Skis</h1>

    <form method="post">
        <label>Datum (YYYY-MM-DD):</label>
        <input type="text" name="date" required>

        <button type="submit">Submit</button>
    </form>

    <hr>

    {% if result %}
    <div class="result-box">
        <h2>Output</h2>
        <p>
            Count of Available Skis on <b>{{ request.form.date }}</b>:  
            <strong>{{ result.available_skis }}</strong>
        </p>
    </div>
    {% endif %}

    <a href="/">⬅ Back to Homepage</a>

</div>

</body>
</html>
