<link rel="stylesheet" href="/static/home.css">

<div class="container">
    <h1>Welcome to Our Ski School</h1>

    <form action="/lessons"><button type="submit">Instructor Lessons</button></form>
    <form action="/customer_lessons"><button type="submit">Customer Lessons</button></form>
    <form action="/available_skis"><button type="submit">Available Skis</button></form>
    <form action="/instructor_info"><button type="submit">Instructor Salary</button></form>
    <form action="/update_instructor_salary"><button type="submit">Update Instructor Salary</button></form>
    <form action="/lesson_conditions"><button type="submit">Lessons Condition</button></form>
    <form action="/group_size"><button type="submit">Group Size</button></form>
    <form action="/customers_by_nationality"><button type="submit">Customer by Nationality</button></form>
    <form action="/mountains_by_skill"><button type="submit">Mountain by Skill</button></form>
    <form action="/customer_revenue"><button type="submit">Customer Revenue</button></form>
</div>
